@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.EntityFramework;
@using PuntoDeVenta.Models;
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>@ViewBag.Title - Punto de venta</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <style type="text/css">
        /* Pestaña Inicio */
        .img-center {
            margin: 0px auto;
            display: block;
        }
    </style>

    @RenderSection("styles", required: false)
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark navstyle fixed-top">
        <div class="container-fluid">
            <img class="logonav" src="~/Content/css-yisus/img/SiVAwhite.png" />
            @*@Html.ActionLink("", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                @{
                    if (User.Identity.IsAuthenticated)
                    {
                        using (ApplicationDbContext app = new ApplicationDbContext())
                        {
                            var IdUser = User.Identity.GetUserId();
                            var userManager = new UserManager<ApplicationUser>(new UserStore<ApplicationUser>(app));

                            if (userManager.IsInRole(IdUser, "GenerarReporte"))
                            {
                                <ul class="navbar-nav">
                                    <li class="nav-item @(ViewContext.RouteData.Values["Controller"].ToString() == "Home" && ViewContext.RouteData.Values["Action"].ToString() == "GenerarReportes" ? "active" : "")">
                                        @Html.ActionLink("Generar reportes", "GenerarReportes", "Home", routeValues: null, htmlAttributes: new { @class = "nav-link" })
                                    </li>
                                </ul>
                            }
                            else
                            {
                                <ul class="navbar-nav">
                                    <li class="nav-item @(ViewContext.RouteData.Values["Controller"].ToString() == "Home" && ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">
                                        @Html.ActionLink("Inicio", "Index", "Home", routeValues: null, htmlAttributes: new { @class = "nav-link" })
                                    </li>
                                </ul>
                            }
                        }
                    }
                    else
                    {
                        <ul class="navbar-nav">
                            <li class="nav-item @(ViewContext.RouteData.Values["Controller"].ToString() == "Home" && ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">
                                @Html.ActionLink("Inicio", "Index", "Home", routeValues: null, htmlAttributes: new { @class = "nav-link" })
                            </li>
                        </ul>
                    }
                }

                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>

    <div class="container-fluid body-content">

        @RenderBody()
        <footer>
            <p id="footerstyle"><img class="imgfooterstyle" src="~/Content/css-yisus/img/Logo.png" /></p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/vue")
    <!-- Use as a Vanilla JS plugin -->
    @Scripts.Render("~/bundles/intlTelInput")
    @Scripts.Render("~/bundles/jquery")
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    @Scripts.Render("~/bundles/intlTelInputjquery")
    @Scripts.Render("~/bundles/jquerymaskMoney")
    <script src="~/Scripts/jquery-number-master/jquery.number.min.js"></script>
    @RenderSection("scripts", required: false)

    <script>
        $(function () {

            // elementos de la lista
            var menues = $(".nav-item");

            // manejador de click sobre todos los elementos
            menues.click(function () {
                // eliminamos active de todos los elementos
                menues.removeClass("active");
                // activamos el elemento clicado.
                $(this).addClass("active");
            });

        });</script>
</body>
</html>
