@model PuntoDeVenta.Models.Tags

@{
    ViewBag.Title = "Deshabilitar";
}
<div class="col-md-12 text-align-center">
    <h4 class="titulo1">Deshabilitar Tag</h4>
    <p class="lead">
        Deshabilita el Tag para evitar su funcionamiento.
    </p>
    </div>
    <div>
        <hr />
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-body">
                            <dl class="dl-horizontal">
                                <dt>
                                    @Html.DisplayNameFor(model => model.CuentasTelepeaje.NumCuenta)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.CuentasTelepeaje.NumCuenta)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.NumTag)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.NumTag)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.SaldoTag)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.SaldoTag)
                                </dd>


                                <dt>
                                    @Html.DisplayNameFor(model => model.DateTTag)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.DateTTag)
                                </dd>

                            </dl>

                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <input type="submit" value="Deshabilitar" class="btn btn-danger botoncancelar" />
                                    </div>
                                </div>
                                <div>
                                    @Html.ActionLink("Regresar a la lista", "Index", routeValues: null, htmlAttributes: new { @Class = "link1" })
                                </div>
                               
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

