@model PuntoDeVenta.Models.CortesCajero
@{
    ViewBag.Title = "Inicio";
}
<h1 align="center"><a class="shine">BIENVENIDO</a></h1>
<h1 align="center"><a class="sirotext">@User.Identity.Name</a></h1>
<div class="row">
    <div class="container-fluid">
        <div class="col-md-12" style="margin-top: 10px !important;">
            <div class="row">
                <div class="col-md-4" style="margin-top: 2% !important;">
                    <!--onclick="location.href='/Clientes'"-->
                    <button class="btn boton-inicio" onclick="location.href='/Clientes/Index'">
                        <div class="row">
                            <div class="col-md-12"><img src="~/Content/css-yisus/img/address-card-solid.svg" class="tamano" /></div>
                        </div>
                        Crear nuevo cliente
                    </button>
                </div>
                <div class="col-md-4" style="margin-top: 2% !important;">
                    <button class="btn boton-inicio" onclick="location.href='/CuentasTelepeajes/Index'">
                        <div class="row">
                            <div class="col-md-12"><img src="~/Content/css-yisus/img/money-check-alt-solid.svg" class="tamano" /></div>
                        </div>
                        Recargar saldo cuenta
                    </button>
                </div>
                <div class="col-md-4" style="margin-top: 2% !important;">
                    <button class="btn boton-inicio" onclick="location.href='/Tags/Index'">
                        <div class="row">
                            <div class="col-md-12"><img src="~/Content/css-yisus/img/credit-card-solid.svg" class="tamano" /></div>
                        </div>
                        Recargar saldo tag
                    </button>
                </div>
                <div class="col-md-4" style="margin-top: 2% !important;">
                    <button class="btn boton-inicio" onclick="location.href='/Historico/Index'">
                        <div class="row">
                            <div class="col-md-12"><img src="~/Content/css-yisus/img/clipboard-list-solid.svg" class="tamano" /></div>
                        </div>
                        Historial de cruces
                    </button>
                </div>
                <div class="col-md-4" style="margin-top: 2% !important;">
                    <button class="btn boton-inicio" onclick="location.href='/Account/Register'">
                        <div class="row">
                            <div class="col-md-12"><img src="~/Content/css-yisus/img/address-book-solid.svg" class="tamano" /></div>
                        </div>
                        Registrar nuevo cajero
                    </button>
                </div>
                <div class="col-md-4" style="margin-top: 2% !important;">
                    <button class="btn boton-inicio" onclick="location.href='/Home/GenerarReportes'">
                        <div class="row">
                            <div class="col-md-12"><img src="~/Content/css-yisus/img/list-ul-solid.svg" class="tamano" /></div>
                        </div>
                        Generar Reportes
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<!--<div class="container" style="margin-top: 40px;">
    <div class="row">
        <div class="col-12 text-center">
            <button type="button" class="btn btn-danger boton-cerrar btn-lg btn-block" data-toggle="modal" data-target="#exampleModalCenter">
                Cerrar sesión
            </button>
        </div>
    </div>
</div>-->
<span class="hacia-arriba icon-ctrl" data-toggle="modal" data-target="#exampleModalCenter"><i class="fas fa-sign-out-alt"></i> Cerrar</span>

@using (Html.BeginForm("LogOff", "Account", FormMethod.Post))
{
    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">¡Declarar!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                @Html.AntiForgeryToken()
                <div class="modal-body">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.NumCorte, htmlAttributes: new { @for = "TypeCuenta" })
                        @Html.EditorFor(model => model.NumCorte, new { htmlAttributes = new { @class = "form-control formulario1", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.NumCorte, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Comentario, htmlAttributes: new { @for = "TypeCuenta" })
                        @Html.TextAreaFor(model => model.Comentario, new { @class = "form-control formulario1", @rows = "3" })
                        @Html.ValidationMessageFor(model => model.Comentario, "", new { @class = "text-danger" })
                    </div>
                    @Html.HiddenFor(model => model.Id)
                </div>
                <div class="modal-footer">

                    <button type="submit" class="btn btn-success botonaceptar">Guardar</button>
                </div>
            </div>
        </div>
    </div>
}