@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.EntityFramework;
@using PuntoDeVenta.Models;
@model dynamic
@{
    /**/

    ViewBag.Title = "ListaNegraIndex";
}

@section Styles
{
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" />
}

<div class="col-md-12 text-align-center">
    <h4 class="titulo1">Lista Negra</h4>
    <p class="lead">
        Realice una busqueda de tags eliminados (en lista negra).
    </p>
    <hr />
</div>

<table id="example" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("NumCliente")
            </th>
            <th>
                @Html.DisplayName("NumCuenta")
            </th>
            <th>
                @Html.DisplayName("Tipo")
            </th>
            <th>
                @Html.DisplayName("Clase")
            </th>
            <th>
                @Html.DisplayName("Numero")
            </th>
            <th>
                @Html.DisplayName("Observacion")
            </th>
            <th>
                @Html.DisplayName("SaldoAnterior")
            </th>
            <th>
                @Html.DisplayName("Date")
            </th>
            @{
                if (User.Identity.IsAuthenticated)
                {
                    using (ApplicationDbContext app = new ApplicationDbContext())
                    {
                        var IdUser = User.Identity.GetUserId();
                        var userManager = new UserManager<ApplicationUser>(new UserStore<ApplicationUser>(app));

                        if (userManager.IsInRole(IdUser, "GenerarReporte") || userManager.IsInRole(IdUser, "SuperUsuario") || userManager.IsInRole(IdUser, "Cajero"))
                        {
                            <th>Regresar</th>
                            <th>Eliminar</th>
                        }
                    }
                }
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.JoinData)
        {
            <tr>
                <td>
                    @item.NumCliente
                </td>
                <td>
                    @item.NumCuenta
                </td>
                <td>
                    @item.Tipo
                </td>
                <td>
                    @item.Clase
                </td>
                <td>
                    @item.Numero
                </td>
                <td>
                    @item.Observacion
                </td>
                <td>
                    @item.SaldoAnterior
                </td>
                <td>
                    @item.Date
                </td>
                @{
                    if (User.Identity.IsAuthenticated)
                    {
                        using (ApplicationDbContext app = new ApplicationDbContext())
                        {
                            var IdUser = User.Identity.GetUserId();
                            var userManager = new UserManager<ApplicationUser>(new UserStore<ApplicationUser>(app));

                            if (userManager.IsInRole(IdUser, "GenerarReporte") || userManager.IsInRole(IdUser, "SuperUsuario") || userManager.IsInRole(IdUser, "Cajero"))
                            {
                                <td>
                                    @if (item.NumCuenta != "" && item.NumCuenta != null)
                                    {
                                        <button type="button" class="btn btn-warning" onclick="RegresarFunc(@item.Numero, @item.NumCuenta)">Regresar a lista blanca</button>
                                    }
                                </td>
                                <td><button type="button" class="btn btn-danger" onclick="DeleteFunc(@item.Numero)">Eliminar definitivamente</button></td>
                            }
                        }
                    }
                }
            </tr>
        }
    </tbody>
</table>

<div class="modal" tabindex="-1" role="dialog" id="ConfEliminar">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Eliminar definitivamente</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ¿Seguro de eliminar definitivamente el tag: <label id="deletetag"></label>?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="ConfDeleteFunc()">Eliminar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="ConfRegresar">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Regresar a cuenta: <label id="numcuenta"></label></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ¿Seguro de regresar el tag: <label id="numtag"></label> a la cuenta: <label id="numcuentabody"></label>?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="ConfRegresarFunc()">Regresar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#example').DataTable({
                "language": {
                    "lengthMenu": "Desplegar _MENU_ por página",
                    "zeroRecords": "Sin resultados - disculpe",
                    "info": "Mostrando página _PAGE_ de _PAGES_",
                    "infoEmpty": "Sin registros disponibles",
                    "infoFiltered": "(registros filtrados _MAX_ )",
                    "search": "Buscar:",
                    "paginate": {
                        "first": "Primero",
                        "last": "Último",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    },
                }
            });
        });

        function RegresarFunc(numtag, numcuenta) {
            $('#numcuenta').text(numcuenta);
            $('#numcuentabody').text(numcuenta);
            $('#numtag').text(numtag);
            $('#ConfRegresar').modal("show");
        }

        function DeleteFunc(numtag) {
            $("#deletetag").text(numtag);
            $('#ConfEliminar').modal('show');
        }

        function ConfDeleteFunc() {
            //código de la función
            $.ajax({
                type: "POST",
                url: '@Url.Action("DeleteConfirmed", "Tags")',
                data: { numtag: $('#deletetag').text() },
                success: (data) => {
                    if (data.success != "") {
                        alert(data.success);
                        var url = '@Url.Action("ListaNegraIndex", "Home")';
                        window.location.href = url;
                    }
                    else {
                        alert(data.error);
                    }
                },
                failure: function (response) {
                    console.log(response.responseText);
                },
                error: function (response) {
                    console.log(response.responseText);
                }
            });
        }

        function ConfRegresarFunc() {
            //código de la función
            $.ajax({
                type: "POST",
                url: '@Url.Action("RegresarListaBlanca", "Tags")',
                data: { numtag: $('#numtag').text(), numcuenta: $('#numcuenta').text() },
                success: (data) => {
                    if (data.success != "") {
                        alert(data.success);
                        var url = '@Url.Action("ListaNegraIndex", "Home")';
                        window.location.href = url;
                    }
                    else {
                        alert(data.error);
                    }
                },
                failure: function (response) {
                    console.log(response.responseText);
                },
                error: function (response) {
                    console.log(response.responseText);
                }
            });
        }
    </script>
}
