@model IEnumerable<PuntoDeVenta.Models.OperacionesCajero>

@{
    ViewBag.Title = "MovimientoCajero";
}





<body>
    <div class="card shadow">
        <div class="card-header">
            <h2>Movimientos del corte</h2>
            <select id="Filtrado" onchange="alerta()">
                <option value="Todas las operaciones">Todas las operaciones</option>
                <option value="TAG ACTIVADO">TAG ACTIVADO</option>
                <option value="TAG RECARGA">TAG RECARGA</option>
                <option value="CUENTA RECARGA">CUENTA RECARGA</option>
                <option value="CUENTA ACTIVADA">CUENTA ACTIVADA</option>
                <option value="CANCELACION RECARGA">CANCELACIÓN RECARGA</option>
                <option value="CANCELACION ACTIVACION">CANCELACIÓN ACTIVACION</option>
            </select>
        </div>
        <div class="card-footer">
            @if (ViewBag.Filtro != null)
            {
                <h5 class="text-muted">Filtrado por  @ViewBag.Filtro</h5>
            }
            </div>
            <div class="card-body">
                <div id="TablaMovimientos" class="table-responsive">
                    <table class="table table-bordered">
                        <tr>
                            @*<th>
                                    @Html.DisplayNameFor(model => model.CortesCajero.NumCorte)
                                </th>*@
                            <th>
                                @Html.DisplayNameFor(model => model.NoReferencia)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Concepto)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Tipo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Numero)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Monto)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TipoPago)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CobroTag)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DateTOperacion)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.StatusCancelacion)
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                @*<td>
                                        @Html.DisplayFor(modelItem => item.CortesCajero.NumCorte)
                                    </td>*@
                                <td>
                                    @Html.DisplayFor(modelItem => item.NoReferencia)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Concepto)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Tipo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Numero)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Monto)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TipoPago)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CobroTag)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DateTOperacion)
                                </td>
                                <td>
                                    @if (item.StatusCancelacion == true)
                                    {
                                        @Html.Label("Cancelado");
                                    }
                                </td>
                                <td>
                                    @if (item.TipoPago != "CAN" && item.StatusCancelacion != true && !(item.Concepto.Contains("CANCELACIÓN")))
                                    {
                                        @Html.ActionLink("Cancelar", "CancelarOperacion", new { id = item.Id, corteid = item.CorteId, Filtro = ViewBag.Filtro }, new { @onclick = "return confirm('¿Seguro que quiere cancelar la operación con número de referencia: " + item.NoReferencia + "?');", @class = "btn btn-danger" });
                                    }
                                </td>
                            </tr>
                        }

                    </table>
                </div>
            </div>
    </div>
</body>

<div class="modal fade" id="mensaje" tabindex="-1" role="dialog" aria-labelledby="ModalCuentaConfTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalCuentaConfTitle">¡Advertencia!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @*<div class="form-group">
                        <img class="img-modal" src="~/Content/css-yisus/img/slack-hash-brands.svg" /> Número de cuenta: <label id=id></label>
                    </div>
                    <div class="form-group">
                        <img class="img-modal" src="~/Content/css-yisus/img/money-bill-solid.svg" /> Saldo a recargar: <label id="saldoarecargarCuentaVal"></label>
                    </div>*@
                <div class="form-group">
                    ¿Seguro de cancelar?
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success botonaceptar" id="submitFormCuentaReca">Guardar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
{

    <script>
        function alerta() {
            var Concepto = { Concepto: $('#Filtrado').val(), CorteId : @Convert.ToDouble(ViewBag.Corte) };
            $.ajax({
                type: "POST",
                url: '@Url.Action("MovimientoCajero","Home")',
                data: Concepto,
                success: function (response) {
                    $("body").html(response);
                    $("#Filtrado").val(Concepto.Concepto);
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        }

    </script>

}
