@model PuntoDeVenta.Models.TableHistorico
@{
    ViewBag.Title = "TablaHistorico";
}

<div class="col-md-12 text-align-center" style="padding-top:20px;">

    <h4 class="titulo1">Tabla Historico</h4>
    <p class="lead">
        Consulte el registro historico de cruces.
    </p>
</div>
<hr />

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card text-center ">
                <div class="card-header">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">

                        <li class="nav-item">
                            <a class="nav-link botonpestaña" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Buscar Tag o Cuenta</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Buscar Por Fecha</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">

                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            <div>
                                @using (Html.BeginForm("GenerarXCuenta", "Historico", FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()


                                    <div class="row justify-content-md-center">
                                        <div class="col-md-12">

                                            <div class="card">
                                                <div class="card-body">



                                                    <div class="col-md-12">
                                                        <label style="float:left !important">#Tag</label>
                                                        @Html.EditorFor(x => x.Tag, "", new { htmlAttributes = new { @class = "form-control espacio", placeholder = "Tag" } })
                                                    </div>



                                                    <div class="col-md-12">
                                                        <label style="float:left !important">#Cuenta</label>
                                                        @Html.EditorFor(x => x.Cuenta, "", new { htmlAttributes = new { @class = "form-control espacio", placeholder = "Cuenta" } })
                                                    </div>

                                                    <div class="col-md-12">
                                                        <label style="float:left !important">Movimiento</label>

                                                        @Html.DropDownListFor(x => x.TypeMovimiento, new SelectList(string.Empty, "Value", "Text"), htmlAttributes: new { @class = "form-control espacio", placeholder = "Seleccione.." })

                                                    </div>

                                                    <div class="col-md-12">
                                                        <label style="float:left !important">Fecha Inicial</label>
                                                        @Html.EditorFor(model => model.Fecha_Inicio)
                                                    </div>
                                                    <div class="col-md-12">
                                                        <label style="float:left !important">Fecha Final</label>

                                                        @Html.EditorFor(model => model.Fecha_Fin)
                                                    </div>

                                                    <div class="col-md-12">
                                                        <button type="submit" class="btn btn-primary botonbuscar">
                                                            <img class="search" src="~/Content/css-yisus/img/search-solid.svg" />Buscar
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                }
                            </div>

                        </div>
                        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="Buscar Solo Por Fecha">
                            <div>
                                @using (Html.BeginForm("GenerarXFecha", "Historico", FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()


                                    <div class="row justify-content-md-center">
                                        <div class="col-md-12">

                                            <div class="card">
                                                <div class="card-body">

                                                    <div class="col-md-12">
                                                        <label style="float:left !important">Fecha Inicial</label>

                                                        @Html.EditorFor(model => model.Fecha_Inicio)
                                                        @Html.ValidationMessageFor(model => model.Fecha_Inicio, "", new { @class = "text-danger" })
                                                    </div>
                                                    <div class="col-md-12">
                                                        <label style="float:left !important">Fecha Final</label>
                                                        @Html.EditorFor(model => model.Fecha_Fin)
                                                    </div>


                                                    <div class="col-md-12">
                                                        <label style="float:left !important">Movimiento</label>
                                                        @Html.DropDownListFor(x => x.TypeMovimiento2, new SelectList(string.Empty, "Value", "Text"), htmlAttributes: new { @class = "form-control espacio", placeholder = "Seleccione.." })
                                                    </div>


                                                    <div class="col-md-12">
                                                        <button type="submit" class="btn btn-primary botonbuscar">
                                                            <img class="search" src="~/Content/css-yisus/img/search-solid.svg" />Buscar
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>




@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")


    <script>
        $(document).ready(function () {

            LoadMovimientos();
            $('#Tag').val('');
            $('#Cuenta').val('');

        });

    </script>

    <script>
        function LoadMovimientos() {

            $.ajax({
                 url: '@Url.Action("GetMovimientos", "Historico")',
                 type: "GET",
                 data: "{}",
                 cache: false,
                 success: function (data) {
                     $.each(data, function (i, row) {
                         var $option = $('<option>');
                         $option.val(row.Value);
                         $option.html(row.Text);
                         $('#TypeMovimiento').append($option);
                     });
                     $.each(data, function (i, row) {
                         var $option = $('<option>');
                         $option.val(row.Value);
                         $option.html(row.Text);
                         $('#TypeMovimiento2').append($option);
                     });

                 },
                 error: function (ex) {
                        alert("Error!!!" + ex);
                 },
            });
        }

    </script>


    <script>

        $("#Tag").change(function () {

            var Mensaje = $("#Tag").val()


            if (Mensaje != null && Mensaje != "") {
                $("#Cuenta").prop("disabled", true)
            }
            else {
                $("#Cuenta").prop("disabled", false)
            }

        });

        $("#Cuenta").change(function () {


            var Mensaje = $("#Cuenta").val()
            if (Mensaje != null && Mensaje != "") {
                $("#Tag").prop("disabled", true)
            }
            else {
                $("#Tag").prop("disabled", false)
            }
        });

    </script>

}
