@model PuntoDeVenta.Models.TableHistorico
@{
    ViewBag.Title = "TablaHistorico";
}

<h2>TablaHistorico</h2>

<div class="container">
    @using (Html.BeginForm("Generar", "Historico", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-row align-items-center">
            <div class="col-auto">
                @Html.LabelFor(model => model.Fecha_Inicio, htmlAttributes: new { @class = "sr-only", @for = "Date" })
                @Html.EditorFor(model => model.Fecha_Inicio)
                @Html.ValidationMessageFor(model => model.Fecha_Inicio, "", new { @class = "text-danger" })
            </div>
            <div class="col-auto">
                @Html.LabelFor(model => model.Fecha_Fin, htmlAttributes: new { @class = "sr-only", @for = "Date" })
                @Html.EditorFor(model => model.Fecha_Fin)
                @Html.ValidationMessageFor(model => model.Fecha_Fin, "", new { @class = "text-danger" })
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-2">Buscar</button>
            </div>
        </div>
    }


        <div id="example">
            <div id="grid"></div>

        </div>



        <script>
        $(document).ready(function () {

            $(function () {

                var serviceURL = "@Url.Action("Generar", "Historico")";

                $.ajax({
                    url: serviceURL,
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {

                    },
                    error: function (ex) {
                        alert(ex);
                    }
                });
            });


            $("#grid").kendoGrid({
                dataSource: {
                    type: "odata",
                    transport: {
                        read: "https://demos.telerik.com/kendo-ui/service/Northwind.svc/Customers"
                    },
                    pageSize: 20
                },
                height: 550,
                groupable: true,
                sortable: true,
                pageable: {
                    refresh: true,
                    pageSizes: true,
                    buttonCount: 5
                },
                columns: [{
   
                    field: "ContactName",
                    title: "Contact Name",
                    width: 240
                }, {
                    field: "ContactTitle",
                    title: "Contact Title"
                }, {
                    field: "CompanyName",
                    title: "Company Name"
                }, {
                    field: "Country",
                    width: 150
                }]
            });




        </script>
