@model PuntoDeVenta.Models.TableHistorico
@{
    ViewBag.Title = "Tabla_Historico";
}




<div class="container">



    <div class="row justify-content-center">
        <div class="col-md-12">

            <div id="Mensaje" class=" jumbotron ">

                <p class="display-4" style="font-size:5vw">DATOS SELECCIONADOS</p>

                <a style="padding-right:8px; font-size:15px;" id="Cuen">Cuenta:{{ Cuenta }}</a>
                <a style="padding-right:8px; font-size:15px;" id="Fech1">Fecha:{{ Fecha1 }}</a>
                <a style="padding-right:8px; font-size:15px;" id="Fech2">Fecha:{{ Fecha2 }}</a>
                <a style="padding-right:8px; font-size:15px;" id="Sal">Saldo Actual:{{ Saldo }}</a>
                <a style="padding-right:8px; font-size:15px;" id="Movi">Movimientos:{{ Movimientos }}</a>
                <a style="padding-right:8px; font-size:15px;" id="clien">Cliente:{{ Cliente }}</a>
                <a style="padding-right:8px; font-size:15px;" id="mess">{{ message }}</a>

                <div>@Html.ActionLink("EXPORTAR A PDF", "Pdf", "Historico", new { }, new { @class = "btn btn-info", @id = "Pdf" })</div>



            </div>
        </div>
    </div>


    <!--TablaCrucesWilly-->
    <div id="aboutPage">
        <template v-if="TablaCruces1">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Tag</th>
                        <th>Cliente</th>
                        <th>Plaza</th>
                        <th>Fecha del Cruce</th>
                        <th>Tramo</th>
                        <th>Carril</th>
                        <th>Clase</th>
                        <th>Saldo Anterior</th>
                        <th>Cobro</th>
                        <th>Saldo Nuevo</th>
                        <th>Operadora</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in items">
                        <td>{{item.Id}}</td>
                        <td>{{item.Tag}}</td>
                        <td>{{item.NumCliente}}</td>
                        <td>{{item.Plaza}}</td>
                        <td>{{item.Fecha}}</td>
                        <td>{{item.Cuerpo}}</td>
                        <td>{{item.Carril}}</td>
                        <td>{{item.Clase}}</td>
                        <td>{{item.SaldoAntes}}</td>
                        <td>{{item.Saldo}}</td>
                        <td>{{item.SaldoDespues}}</td>
                        <td>{{item.Operador}}</td>
                    </tr>
                </tbody>

            </table>
        </template>

    </div>


    <!--TablaCrucesCliente-->
    <div id="aboutPage2">
        <template v-if="TablaCruces2">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Tag</th>
                        <th>Plaza</th>
                        <th>Fecha del Cruce</th>
                        <th>Tramo</th>
                        <th>Cobro del Cruce</th>
                        <th>Carril</th>
                        <th>Operadora</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in items">
                        <td>{{item.Id}}</td>
                        <td>{{item.Tag}}</td>
                        <td>{{item.Plaza}}</td>
                        <td>{{item.Fecha}}</td>
                        <td>{{item.Cuerpo}}</td>
                        <td>{{item.Saldo}}</td>
                        <td>{{item.Carril}}</td>
                        <td>{{item.Operador}}</td>
                    </tr>
                </tbody>

            </table>
        </template>

    </div>

    <!--TablaMovimientosWilly-->
    <div id="aboutPage3">

        <template v-if="TablaMovimientos1">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Concepto</th>
                        <th>Tipo de Pago</th>
                        <th>Monto de Recarga</th>
                        <th>Fecha del Cruce</th>
                        <th>Tag o Cuenta</th>
                        <th>Tipo de Cuenta</th>
                        <th>Cobro del Tag</th>
                        <th>Numero Referencia</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in items">
                        <td>{{item.Id}}</td>
                        <td>{{item.Concepto}}</td>
                        <td>{{item.TipoPago}}</td>
                        <td>{{item.Monto}}</td>
                        <td>{{item.Fecha}}</td>
                        <td>{{item.TagCuenta}}</td>
                        <td>{{item.TypeCuenta}}</td>
                        <td>{{item.CobroTag}}</td>
                        <td>{{item.Referencia}}</td>
                    </tr>
                </tbody>

            </table>
        </template>

    </div>

    <!--TablaMovimientosCliente-->
    <div id="aboutPage4">
        <template v-if="TablaMovimientos2">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Concepto</th>
                        <th>Tipo de Pago</th>
                        <th>Monto de Recarga</th>
                        <th>Fecha del Cruce</th>
                        <th>Tag o Cuenta</th>
                        <th>Tipo de Cuenta</th>
                        <th>Cobro del Tag</th>
                        <th>Numero Referencia</th>

                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in items">
                        <td>{{item.Id}}</td>
                        <td>{{item.Concepto}}</td>
                        <td>{{item.TipoPago}}</td>
                        <td>{{item.Monto}}</td>
                        <td>{{item.Fecha}}</td>
                        <td>{{item.TagCuenta}}</td>
                        <td>{{item.TypeCuenta}}</td>
                        <td>{{item.CobroTag}}</td>
                        <td>{{item.Referencia}}</td>
                    </tr>
                </tbody>
            </table>
        </template>
    </div>

    <!--TablaMovimientosCrucesCLiente-->
    <div id="aboutPage5">

        <template v-if="TablaMovimietnosCruces1">
            <table class="table table-bordered">
                <thead>
                    <tr>

                        <th>Concepto</th>
                        <th>Fecha</th>
                        <th>Monto</th>
                        <th>Numero Referencia</th>

                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in items">

                        <td>{{item.Concepto}}</td>
                        <td>{{item.Fecha}}</td>
                        <td>{{item.CobroTag}}</td>
                        <td>{{item.Referencia}}</td>

                    </tr>
                </tbody>

            </table>
        </template>

    </div>

</div>


@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    <script>
        $(document).ready(function () {


            var Cruces = @Html.Raw(Json.Encode(Model.ListaCruces));
            var Movimientos = @Html.Raw(Json.Encode(Model.ListaMovimientos));
            var CrucesMovimientos = @Html.Raw(Json.Encode(Model.ListCruceMovimientos));
            var info = @Html.Raw(Json.Encode(Model.Info));
          console.log(JSON.stringify(Cruces))
          console.log(JSON.stringify(Movimientos))
          console.log(JSON.stringify(CrucesMovimientos))
            //console.log(JSON.stringify(info))


          if (Cruces == null && Movimientos == null && CrucesMovimientos == null) {

                    $('#Cuen').remove();
                    $('#Sal').remove();
                    $('#Movi').remove();
                    $('#clien').remove();
                    $('#Fech1').remove();
                    $('#Fech2').remove();
                    $('#Pdf').hide();

                    var Mensaje = new Vue({
                        el: '#Mensaje',
                        data: {
                            message: 'Aviso: NO HAY CRUCES...',
                            muestra: true,

                        }

                    })


                    var aboutPage = new Vue({
                        el: '#aboutPage',
                        data: {

                            items: json,
                            mostrar: false
                        }
                    });

            }
            else {

              if (CrucesMovimientos != null) {

                if (info.Tipo == 'SOLO_FECHA') {

                  $('#Cuen').remove();
                  $('#Sal').remove();
                  $('#clien').remove();
                  $('#mess').remove();

                  var Mensaje = new Vue({

                    el: '#Mensaje',
                    data: {

                      Fecha1: info.Fecha_Inicio,
                      Fecha2: info.Fecha_Fin,
                      Movimientos: info.Count,
                      muestra: true,
                    }

                  })

                  var aboutPage2 = new Vue({
                    el: '#aboutPage',
                    data: {

                      items: Cruces,
                      TablaCruces1: true
                    }
                  });


                }
                else {


                  $('#mess').remove();

                  var Mensaje = new Vue({
                    el: '#Mensaje',
                    data: {
                      Saldo: info.SaldoActual,
                      Fecha1: info.Fecha_Inicio,
                      Fecha2: info.Fecha_Fin,
                      Movimientos: info.Count,
                      Cuenta: info.TagCuenta,
                      Cliente: info.NomCliente,
                      muestra: true,

                    }

                  })


                  var mensaje = false;
                  var aboutPage3 = new Vue({
                    el: '#aboutPage5',
                    data: {

                      items: CrucesMovimientos,
                      TablaMovimietnosCruces1: true
                    }
                  });

                }

              }
               else if (Cruces != null) {

                    if (info.Tipo == 'SOLO_FECHA') {

                        $('#Cuen').remove();
                        $('#Sal').remove();
                        $('#clien').remove();
                        $('#mess').remove();

                        var Mensaje = new Vue({

                            el: '#Mensaje',
                            data: {

                                Fecha1: info.Fecha_Inicio,
                                Fecha2: info.Fecha_Fin,
                                Movimientos: info.Count,
                                muestra: true,
                            }

                        })

                        var aboutPage2 = new Vue({
                            el: '#aboutPage',
                            data: {

                                items: Cruces,
                                TablaCruces1: true
                            }
                        });


                    }
                    else {


                        $('#mess').remove();

                        var Mensaje = new Vue({
                            el: '#Mensaje',
                            data: {
                                Saldo: info.SaldoActual,
                                Fecha1: info.Fecha_Inicio,
                                Fecha2: info.Fecha_Fin,
                                Movimientos: info.Count,
                                Cuenta: info.TagCuenta,
                                Cliente: info.NomCliente,
                                muestra: true,

                            }

                        })


                        var mensaje = false;
                        var aboutPage = new Vue({
                            el: '#aboutPage2',
                            data: {

                                items: Cruces,
                                TablaCruces2: true
                            }
                        });

                    }

                }
                else if (Movimientos != null) {

                    if (info.Tipo == 'SOLO_FECHA') {

                        $('#Cuen').remove();
                        $('#Sal').remove();
                        $('#clien').remove();
                        $('#mess').remove();


                        var Mensaje = new Vue({

                            el: '#Mensaje',
                            data: {

                                Fecha1: info.Fecha_Inicio,
                                Fecha2: info.Fecha_Fin,
                                Movimientos: info.Count,
                                muestra: true,
                            }

                        })

                        var aboutPage2 = new Vue({
                            el: '#aboutPage3',
                            data: {

                                items: Movimientos,
                                TablaMovimientos1: true
                            }
                        });

                    }
                    else {


                        $('#mess').remove();

                        var Mensaje = new Vue({
                            el: '#Mensaje',
                            data: {
                                Saldo: info.SaldoActual,
                                Fecha1: info.Fecha_Inicio,
                                Fecha2: info.Fecha_Fin,
                                Movimientos: info.Count,
                                Cuenta: info.TagCuenta,
                                Cliente: info.NomCliente,
                                muestra: true,

                            }

                        })


                        var mensaje = false;
                        var aboutPage = new Vue({
                            el: '#aboutPage4',
                            data: {

                                items: Movimientos,
                                TablaMovimientos2: true
                            }
                        });

                    }
                }

            }

            });
    </script>

}


